/*  Mouse scroll animation.  
 *  
 *  Thanks to @Naoya for the pen. Original code from:
 *  https://codepen.io/nxworld/pen/OyRrGy
 */

.scroll-down {
  padding-top: 60px;
  position: relative;
}
.scroll-down span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 42px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}